* {
  box-sizing: border-box;
  font-size: 15px;
}
.no-bull {
  list-style-type: none;
}

.App {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.App .img-background {
  position: fixed;
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  right: 0;
  display: block;
  width: 200%;
  height: auto;
  z-index: -1;
}

.navigation {
  position: fixed;
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  background-color: white;
  border-bottom: 2px solid slategrey;
  color: rgb(56,5,0);
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  
  font-weight: 500;
  z-index: 2;
}

.navigation ul {
  position: relative;
  padding-top: 0.5%;
  width: 50%;
  display: flex;
  flex-direction: row;
  z-index: inherit;
}

.nav-contact {
  position: relative;
  left: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  z-index: inherit;
}
.nav-contact li {
  padding: 0;
  margin: 0 2% 0 0; 
  z-index: inherit;
}

.nav-webdev {
  position: relative;
  right: 0;
  justify-content: space-evenly;
  z-index: inherit;
  display: flex;
  font-size: 0.9rem;
  justify-content: flex-end;
}
.nav-webdev li {
  padding: 0;
  margin: 0 2% 0 0;
  z-index: inherit;
}

.homeButton {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0,128,128,0.7);
  background-image: url("https://i.imgur.com/OhoZ1YJt.jpg?1");
  height: 35px;
  width: 35px;
  border: 18px solid rgba(0,128,128,0.5);
  border-radius: 15%;
  margin: auto 1% 0.25% 1%;
  z-index: inherit;
}

.banner {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
  width: 100%;
  z-index: inherit;
  /* background-color: rgba(210, 215, 211, 0.4); */
  text-align: center;
}

.banner h1 {
  padding: 2% 0 2% 0;
  margin: 0 auto;
  font-size: 1.7rem;
  font-weight: 700;
  color:rgb(56,5,0);
}

.banner h2 {
  font-size: 1.6rem;
  color:  rgba(138, 31, 10, 0.9);
}

.banner p {
  color: rgb(36,11,0);
  font-size: 0.85rem;
}

.banner .img-container {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 100%;
  margin: 5px auto;
}

.banner img {
  max-width: 100%;
  height: auto;
  display: block;
  padding-right: 0.5%;
  pointer-events: none;
}

.banner .sub-header {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  max-width: 45%;
  min-width: 15%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.banner .sub-header .first-word {
  color: rgba(197, 61, 46, 1);
}

.banner .sub-header .second-word {
color:rgba(0, 128, 128, 1);
}

.banner .sub-header .third-word {
  color:rgba(79, 32, 102, 0.9);
  /* color:rgba(210, 223, 255, 1); */
  /* color: rgba(12, 173, 133, 0.5); */
  }

.container {
  position: relative;
  top: 50px;
  left: 0;
  width: 100%;
  min-height: 840px;
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  background-color: rgba(242, 247, 243, 0.9);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 3px solid darkgoldenrod;
  z-index: inherit;
}

.container h2 {
  color: rgb(36,11,0);
}
.container li {
  font-weight: 600;
  line-height: 1.5rem;
  padding-bottom: 2%;
 
}

.languages {
  display: flex;
  flex-direction: row;
  z-index: inherit;
  color: darkslategray;
  /* color:rgba(79, 32, 102, 1); */
}
.row-1 {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 0 0 auto auto;
  justify-content: space-around;
  border: 3px solid darkgoldenrod;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.row-1 ul {
  display: flex;
  flex-direction: column;
  margin: 0 1%;
  padding: 1%;
  z-index: inherit;
}
.row-1 li {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.05rem;
  line-height: 1;
}

.highlights {
  display: flex;
  width: 100%;
}
.row-2 {
  position: relative;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 2.5%;
  background-color: white;
  z-index: inherit;
}
.row-2 h2 {
  color: darkslategray;
  font-size: 1rem;
  text-align: center;
}
.row-2 .card {
  min-height: 250px;
  width: 30%;
}

.row-2 .box-lists {
  min-height: 250px;
  width: 85%;
  margin: 0 auto;
  background-color: slategrey;
  border-radius: 20px 0 20px 0;
  padding: 1% 0;
  z-index: inherit;
   /* border: 1px solid rgba(210, 215, 211, 0.9); */
}


.row-2 .box-lists li {
  font-size: 1rem;
  line-height: 1.5;
  color: azure;
  /* color: rgba(226, 214, 233, 1); */
  margin: 5% 5% 5% 10%;
}

.row-3 {
  min-height: 600px;
  width: 100%;
  margin: auto;
  padding: 2.5%;
  display: flex;
  justify-content: center;
  background-color: white;
  z-index: inherit;
}

.row-3 li {
  margin: auto 5%;
}

.row-4 {
  position: relative;
  top: 30px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: inherit;
}

.row-4 h1 {
  padding-top: 2%;
  margin: 0 auto;
  font-size: 1.7rem;
  font-weight: 700;
  color: rgb(56,5,0);
}

.row-4-cards {
  position: relative;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 2.5%;
  z-index: inherit;
}

.row-4-cards ul {
  text-align: left;
  font-weight: 700;
  color: rgb(56,5,0);
}
.row-4-cards li {
  text-align: left;
  font-weight: 500;
  color: rgb(56,5,0);
}

.row-4-cards .card {
  justify-content: space-evenly;
  width: 20%;
}

.row-4-cards .card-title {
  font-size: 2rem;
  font-weight: 700;
  color: teal;
}

.row-4-cards .card-body {
  text-align: center;
  min-height: 300px;
}

.row-4 a {
  margin-bottom: 5%;
  margin-top: 0;
  font-size: 1.2rem;
}

.Footer {
  position: relative;
  top: 50px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  padding: 2% 2% 10% 2%;
  z-index: inherit;
}

.Footer p {
  display: flex;
  padding: 0;
  margin-top: 50px;
  justify-content: center;
  font-weight: 600;
  color: azure;
  font-size: 0.7;
  
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
}

.Footer .built-with {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  margin: 0 auto;
}

.Contact-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: auto auto auto 0;
  z-index: inherit;
}

.Details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: inherit;
}

.form-element {
  border: 0.1vh ridge rgba(210, 215, 211, 0.5);
  width: 100%;
}

.Message-input {
  width: 100%;
  height: 200px;
}

.Contact, .Message-input {
 
  color: #517580;
  text-align: center;
  border: 0.1vh ridge rgba(210, 215, 211, 0.5);
}

.Button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: bold;
  color: #517580;
  background: rgba(210, 215, 211, 0.3);
  border: 0.1vh ridge rgba(210, 215, 211, 0.5);
}

.no-bull {
  list-style-type: none;
}


@media only screen and (max-width: 568px) {
   .App, .container {
    width: 100%;
  }

  .App .img-background {
    height: 100%;
    width: auto;
  }

  .navigation {
    display: flex;
    min-width: 320px;
    max-width: 100%;
    font-size: 0.5rem;
  }

  .nav-webdev {
    margin-right: 7%;
    padding: 0;
  }

  .banner h1 {
    font-size: 1.3rem;
    padding: 3%;
    color: white;
  }
  .banner h2 {
    font-size: 1.45rem;
    padding: 0;
    color: white;

  }
  .banner .sub-header {
    display: none;
  }

  .row-1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 175px;
    width: 100%;
    border-radius: 0;
  }
 .row-1 li {
    font-size: 1rem;
  }
  .highlights, .row-2, .row-4-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    font-size: 0.7rem;
  }

  .row-2 .card, .row-4 .card, .row-4 .card-body {
    min-height: 250px;
    width: 100%;
    padding: 2.5%;
  }

 .card-body {
  width: 100%;
  }
  .row-3 {
    position: relative;
    top: 45px;
    
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
  }
  .row-3 li {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
  }

  .row-4-cards img {
    width: 50px;
    height: auto;
  }

  .Footer svg {
    z-index: inherit;
    margin: 2%;
  }  
} 


  /* @media only screen and (max-width: 480px) {
    body {
      font-size: 12px;
    }
    .page-title {
      width: 270px;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {
     .gallery-item .thumbnail {
    width: 95%;
    border: 2px solid GhostWhite;
    border-radius: 4px;
  }
  }
  
  @media only screen and (min-resolution: 150dpi) {
   .logo {
    background-image: url("../img/spaceship@2x.png");
  }
  }
  
  @media only screen and (max-resolution: 150dpi) and (max-width: 480px){
   .page-description {
     font-size: 20px;
   }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .page-title, .page-description {
    float: left;
      width: 20em;
  }
   
  .page-description {
      text-align: left;
  }
  }
 

  @media only screen and (max-width: 960px) {
  .main {
    padding-top: 0;
  }
}   */
/* 
.competencies .box-lists {
  background-color: rgba(243, 241, 247, 0.4);
}

.highlights .box-lists {
  background-color: rgba(243, 241, 247, 0.6);
}

.experience .box-lists {
  background-color: rgba(245, 245, 249, 0.8);
}

.interests .box-lists {
  background-color: rgba(248, 248, 253, 0.8);
} */




/* .other div {
    height: 400px;
    width: auto;
    border: 2px solid white;
    background-color: white;
    z-index: inherit;
  } 

.WebDevelopment .Div-2 {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  flex: 2 1 300px;
}

.WebDevelopment .Div-2 .list-heading {
  color:  #517580;
}
.WebDevelopment .Div-2 ul {
  width: 100%;
  padding: 2% 0;
  line-height: 1.5;
}

.WebDevelopment .Div-2 li {
  width: 90%;
  margin: 0 5% 0 10%;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  color:rgba(65, 24, 1, 1);
}
color: rgb(12, 160, 123);
  color: teal;
  color: rgb(12, 160, 123);
  color: rgb(79,96,122);
  color: rgba(12, 173, 133, 0.9);
  color: rgba(12, 173, 60, 0.9);*/

  





